root = true # 表示该文件是项目的根配置文件，编辑器在查找配置时会从当前文件夹开始逐级向上查找，直到找到该文件为止

# 表示所有文件适用
[*]
charset=utf-8 # 设置文件字符集为 utf-8
end_of_line=lf # 控制换行符类型 lf（Unix 风格）、cr（Mac 风格）或 crlf（Windows 风格）
insert_final_newline=true # 始终在文件末尾插入一个新行
indent_style=space # 缩进风格（tab | space）
indent_size=2 # 缩进大小
max_line_length = 100 # 设置每行的最大字符数。可选值为整数

[*.{yml,yaml,json}]
indent_style = space
indent_size = 2

[*.md] # 表示仅 md 文件适用以下规则
trim_trailing_whitespace = false # 去除行首的任意空白字符

[Makefile]
indent_style = tab
